<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1092718199563-b8lgapus0l4u5jqb85cboktnmh5mpusi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1092718199563-b8lgapus0l4u5jqb85cboktnmh5mpusi</string>
	<key>API_KEY</key>
	<string>AIzaSyBq09JMPLNmFTMCSiQGHuzwEqRp2ra9XUs</string>
	<key>GCM_SENDER_ID</key>
	<string>1092718199563</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bohdantkachenko.Water-My-Plants</string>
	<key>PROJECT_ID</key>
	<string>water-my-plant-1b44a</string>
	<key>STORAGE_BUCKET</key>
	<string>water-my-plant-1b44a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1092718199563:ios:304266b6dee75ed83d580e</string>
	<key>DATABASE_URL</key>
	<string>https://water-my-plant-1b44a.firebaseio.com</string>
</dict>
</plist>